CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_SYSTEM_TRUSTED_KEYS=""
CONFIG_SYSTEM_EXTRA_CERTIFICATE=n

CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_PKCS7_TEST_KEY=n
CONFIG_SIGNED_PE_FILE_VERIFICATION=n

CONFIG_NET=n
CONFIG_INET=n
CONFIG_NETDEVICES=n
CONFIG_PACKET=n
CONFIG_UNIX=n
CONFIG_INET_DIAG=n
CONFIG_NETWORK_PHY_TIMESTAMPING=n

CONFIG_NETFILTER=n
CONFIG_NET_SCHED=n
CONFIG_NET_CLS=n
CONFIG_NET_CORE=n
CONFIG_WIRELESS=n
CONFIG_WLAN=n

CONFIG_FPGA=n
CONFIG_SOUND=n
CONFIG_MEDIA_SUPPORT=n

CONFIG_ARM_CCI_PMU=n
CONFIG_ARM_CCN=n
CONFIG_ARM_CMN=n
CONFIG_ARM_PMU=y
CONFIG_ARM_DSU_PMU=n
CONFIG_ARM_SPE_PMU=n

CONFIG_STRICT_DEVMEM=n
